<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheetPRODUCT %>

        <!-- Custom styles for this template -->
        <link href="/public/stylesheets/logo-nav.css" rel="stylesheet">
        <link href="/public/stylesheets/simple-sidebar.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/300x60?text=Logo" width="150" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comments">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products-gallery">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <!-- <div class="container">
        <h1 class="mt-5">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of
            the logo within the HTML. For best results, it's recommended that you use an SVG image as your logo.</p> -->

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        My Account
                    </a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Order status</a>
                </li>
                <li class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse1">Payments</a>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item">Payment modes</li>
                                <li class="list-group-item">Payment history</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">e-wallet</a>
                </li>
                <li class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse2">Settings</a>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item">Notification settings</li>
                                <li class="list-group-item">Privacy settings</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-12 bg-primary">

                        <!-- <% users.forEach(function(user){ %> -->

                            <form action="/account" method="post">

                                <div class="form-group">
                                    <label for="inputName">Old password</label>
                                    <input type="password" id="op" name="op" class="form-control" required="">
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail">New password</label>
                                    <input type="password" id="np" name="np" class="form-control" required="">
                                </div>

                                <div class="form-group">
                                    <label for="inputBirthday">Confirm password</label>
                                    <input class="form-control" type="password" id="cp" name="cp" required="">
                                </div>

                                <!-- <% }); %> -->

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                            </form>

                            <button onclick="window.location.href='/'" class="changePassword btn btn-lg btn-primary btn-block">Change password</button>

                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/javascript %>

        <script> 
                // function uploadProfilePicture() {
                //     $("#createImage").css("display", "block");
                // }

        // $("#menu-toggle").click(function (e) {
        //     e.preventDefault();
        //     $("#wrapper").toggleClass("toggled");
        // });
        
        function sendAjax(theMessage) {
            $.ajax({
                url: "http://localhost:3000",
                type: "POST",
                data: JSON.stringify(theMessage),       // converts message into a string, if not converted, there will be an error. 
                dataType: "json",
                contentType: "application/json",
                success: function(result) {
                    // display the reply from server
                    if (lines != maxLines) {
                        lines++;
                        $("#log").append("<p>" + lines + " " + result.message + "<p>");     // request.message = "sending user message"?
                    }
                },
                error: function(error) {                // not err?
                    alert("Unable to send message");
                    console.log(error);
                }
            });
        }

        </script>

</body>