<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheetPRODUCT %>

        <!-- Custom styles for this template -->
        <link href="/public/stylesheets/logo-nav.css" rel="stylesheet">
        <link href="/public/stylesheets/simple-sidebar.css" rel="stylesheet">
</head>

<body>
    <% include ../partials/navbar %>

    <!-- Page Content -->
    <!-- <div class="container">
        <h1 class="mt-5">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of
            the logo within the HTML. For best results, it's recommended that you use an SVG image as your logo.</p> -->

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        My Account
                    </a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Order status</a>
                </li>
                <li class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse1">Payments</a>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item">Payment modes</li>
                                <li class="list-group-item">Payment history</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">e-wallet</a>
                </li>
                <li class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse2">Settings</a>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item">Notification settings</li>
                                <li class="list-group-item">Privacy settings</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <% if (message == "Password changed successfully") { %>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= message %>.  
                    </div>
                <% } else if (message == "Password change failed - New password does not match Confirm password" || message == "Password change failed - Old password is incorrect") { %>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= message %>.  
                <% } %>
              
                <div class="row justify-content-center">
                    <div class="col-sm-12">          
                        <form action="/changepassword" method="post">
                            <div class="form-group">
                                <label for="inputOldPassword">Old password</label>
                                <input class="form-control" type="password" required id="op" name="op">
                            </div>

                            <div class="form-group">
                                <label for="inputNewPassword">New password</label>
                                <input class="form-control" type="password" required pattern="\w{8,}" oninvalid="setCustomValidity('minimum 8 alphanumeric characters')" oninput="setCustomValidity('')" id="np" name="np">
                            </div>

                            <div class="form-group">
                                <label for="inputConfirmPassword">Confirm password</label>
                                <input class="form-control" type="password" required pattern="\w{8,}" oninvalid="setCustomValidity('minimum 8 alphanumeric characters')" oninput="setCustomValidity('')" id="cp" name="cp">
                                <span id='message'></span>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer2 %>

    <% include ../partials/javascript %>

        <script> 
            $('#cp').on('keyup', function () {
                if ($('#np').val() == $('#cp').val()) {
                    $('#message').html('Password matches').css('color', 'green');
                } 
                else
                    $('#message').html('Password not matching').css('color', 'red');
            });
        </script>
</body>