<!DOCTYPE html>
<html>
<head>
    <title>
      <%= title %>
    </title>

    <% include ../partials/stylesheet %>
    <% include ../partials/stylesheetPRODUCT %>
    <% include ../partials/stylesheetSlick %>
</head>
<body>
    <% include ../partials/navbar %>

    <div class="container">
      <div class="page-header m-t-1">
        <h1><%= title %></h1>
      </div>
      <p class="lead">Welcome to <%= title %></p>
    </div>

    <% include ../partials/footer2 %>
    
    <% include ../partials/javascript %>
</body>
</html>
