<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>

    <% include ../partials/stylesheet %>
    <% include ../partials/stylesheetPRODUCT %>

</head>
<body>
    <% include ../partials/navbar %>

    <div class="container">
        <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Oops!</strong> <%= message %>.
            </div>
        <% } %>
     
        <form class="form-signin" action="/login" method="post">
            <h2 class="form-signin-heading">Please Log in</h2>
            
            <label for="inputEmail" class="sr-only">Email address</label>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" required id="email" name="email" class="form-control">
            </div>     

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input class="form-control" type="password" required id="password" name="password">
            </div>

            <small>Forgot password? <a href="/resetpassword">Reset password</a></small>
      
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <br>

            <p>Don't have an account? <a href="/signup">Signup</a>, it's free.</p>
        </form>
    </div>

    <footer class="py-5 bg-dark" style ="position: absolute; bottom: 0; width: 100%;">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
          </footer>
    
    <% include ../partials/javascript %>
</body>
</html>
