<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <% include ../partials/stylesheet %>
    <% include ../partials/stylesheetPRODUCT %>
</head>

<body>
    <% include ../partials/navbar %>


        <div class="container">
            <form action="/" method="post">
                <div class="text-center">  
                <h2 class="form-signin-heading">Reset password: </h2>
                </div>
            
                <div class="form-group">
                    <label for="inputPassword">New Password</label>
                    <input class="form-control" type="password" required id="np" name="np">
                </div>

                <div class="form-group">
                    <label for="inputPassword">Confirm Password</label>
                    <input class="form-control" type="password" required id="cp" name="cp">
                </div>
                
                <div class="text-center">
                    <button class="btn btn-lg btn-primary" type="submit">Reset password</button>
                </div>
            </form>
        </div>

        <% include ../partials/footer2 %>

        <% include ../partials/javascript %>
</body>
</html>